.table{
    table-layout:fixed;
    word-break:break-all;
    border-collapse:collapse;
    border: 1px solid;
}

.table th{
    border-collapse:collapse;
    border: 1px solid;
}

.table td{
    border-collapse:collapse;
    border: 1px solid;

    height: 20px;
}

.tableAll{
    margin: 0 auto;
    width: 800px;
    height: auto;
}

#player1{
    float: left;
    width: 400px;
}